<!DOCTYPE html>
<html lang="en">
<head>
    <title>Personal Blog</title>
    <meta charset="UTF-8">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Slab:400,500,600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="/js/menu.js"></script>
</head>
<body>
    <header class="topnav" id="myTopnav">
        <a href="/" class="nav-text title">Nodirbek Blog</a>
        <a href="#" class="nav-text">About</a>
        <a href="#" class="nav-text">Blog</a>
        <a href="/new-post" class="nav-text">New post</a>
        <a href="javascript:void(0);" class="icon" onclick="myFunction()"><img src="/assets/images/menu.png" alt="menu"  id="menu-button"></a>
    </header>
    <div class="container">