<%- include('includes/header') %>
<div class="box content-blog">
<h1><center>API</center></h1>
<pre>Available routes

GET /api/posts - Show all article

GET /api/post/id - Article by ID

POST /api/new-post - Post article

POST /api/edit-post/id - Edit article

GET /api/delete-post/id - Delete article
</pre>
</div>

<%- include('includes/footer') %>