<%- include('includes/header') %>
<div class="box content-blog">
    <h1><center>Sorry. Something went wrong</center></h1>
    <%= err %>
</div>
<center><a href="/">Home page</a></center>
<%- include('includes/footer') %>