<h1>New category</h1>

<form action='/new-category' method="POST">
    <label>Name of category</label><br />
    <input type="text" name="name" required><br />
    <input type="submit" value="CREATE">
</form>